/* ここからnav */
body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: rgb(226, 229, 221);
}
.nav {
  margin: 0;
  padding: 0;
  width: auto;
  height: 2rem;
  background-color: rgb(95, 91, 91);
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  gap: 50px;
  color: white;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
/* ここまでnav */

.main-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.col1,
.col2,
.col3,
.col4,
.col5,
.col6,
.col7,
.col8,
.col9,
.col10,
.col11,
.col12,
.col13,
.col14,
.col15,
.col16,
.col17,
.col18 {
  display: flex;
  max-width: 1000px;
  height: auto;
  font-size: 3rem;
  margin-bottom: 4px;
  font-family: "BIZ UDMincho", serif;
  user-select: none;
}
.words {
  margin-left: 4px;
  border-radius: 5px;
  background-color: rgb(51, 210, 210);
  border: 1px black solid;
  user-select: none;
}
.words2 {
  margin-left: 4px;
  border-radius: 5px;
  background-color: rgb(83, 210, 51);
  border: 1px black solid;
  font-size: 2rem;
  user-select: none;
}
.words3 {
  margin-left: 4px;
  border-radius: 5px;
  background-color: rgb(234, 179, 128);
  border: 1px black solid;
  user-select: none;
}
.words4 {
  margin-left: 4px;
  border-radius: 5px;
  background-color: rgb(230, 167, 234);
  border: 1px black solid;
  user-select: none;
}

.bun-container {
  text-align: center;
  justify-content: center;
  /* display: flex; */
  background-color: beige;
  font-size: 3rem;
}
.bun1,
.bun2,
.bun3,
.bun4,
.bun5 {
  display: flex;
  /* justify-content: center; */
  margin-top: 8px;
  margin-left: 3rem;
  font-size: 3rem;
  margin-right: 0.5rem;
  font-family: "BIZ UDMincho", serif;
}

.pic {
  color: rgb(3, 3, 3);
  margin-right: 8px;
}

.pic2 {
  font-size: 2rem;
  line-height: 2;
  /* background-color: rgba(160, 152, 152, 0.322); */
  color: rgb(3, 3, 3);
}
.btn1,
.btn2 {
  user-select: none;
  margin-left: 4px;
}
.hidden {
  color: rgba(160, 152, 152, 0.322);
  user-select: none;
  background-color: rgba(160, 152, 152, 0.322);
}
